<%= form_tag '/form_result', method: :post do %>
<h1>You made a guess and it is <%= @paramsnum %> </h1>
  <p><%= label_tag :message, "Guess your number!" %></p>
  <%= text_field_tag :message %>

<div>
<p><%= submit_tag "Guess" %>
<%= submit_tag "Randomize" %>  <= To randomize the number, enter your new number and hit Randomize!</p>
<div><h1><%= @message %></h1></div>

</div>

<% end %>
